---
import ContactFormFields from "../contact-form-fields";
---

<section id="Contacto" class="py-12 md:py-32">
    <div class="container mx-auto px-2">
        <div
            class="mx-auto flex max-w-screen-xl flex-col justify-between gap-10 lg:flex-row lg:gap-20"
        >
            <div class="mx-auto flex max-w-sm flex-col justify-between gap-10">
                <div class="text-center lg:text-left">
                    <h2 class="mb-2 text-5xl font-semibold lg:mb-1 lg:text-6xl">
                        Cotiza tu evento ahora
                    </h2>
                    <p class="text-zinc-300">
                        Haz tu consulta en menos de un minuto. Rellena nuestro
                        formulario y recibe una propuesta en menos de 24 horas
                    </p>
                </div>
                <div class="mx-auto w-fit lg:mx-0">
                    <h3
                        class="mb-6 text-center text-2xl font-semibold lg:text-left"
                    >
                        Nuestra información de contacto
                    </h3>
                    <ul class="ml-4 list-disc">
                        <li>
                            <span class="font-bold">Teléfono: </span>
                            <a
                                href="tel:56969175107"
                                target="_blank"
                                class="underline"
                            >
                                (+56) 9 6917 5107
                            </a>
                        </li>
                        <li>
                            <span class="font-bold">Email: </span>
                            <a
                                href="mailto:info@altosdemonardez.cl"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="underline"
                            >
                                info@altosdemonardez.cl
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div
                class="relative mx-auto flex max-w-screen-md w-full flex-col rounded-lg border p-10 bg-[url(/images/contact/image.avif)] bg-cover bg-center after:bg-cover after:bg-center after:w-full after:h-full after:content-[''] after:inset-0 after:absolute after:bg-[url(/images/contact/image.avif)] after:blur-2xl after:saturate-100 after:-z-10"
            >
                <ContactFormFields client:idle />
            </div>
        </div>
    </div>
</section>
