---
import {
    ArrowDownRightIcon,
    ArrowUpRight,
    MessageCircleHeart,
} from "lucide-react";
import { ParallaxCarousel } from "../Gallery";
import { Button } from "../ui/button";
---

<section id="Galeria" class="py-12 md:py-32">
    <div class="container mx-auto px-2">
        <div class="grid items-center gap-10 lg:grid-cols-2 lg:gap-20">
            <div class="flex md:justify-end">
                <ParallaxCarousel client:idle />
            </div>
            <div
                class="flex flex-col items-center text-center lg:max-w-3xl lg:items-start lg:text-left"
            >
                <span
                    data-slot="badge"
                    class="inline-flex items-center justify-center rounded-md border px-2 py-0.5 text-xs font-medium w-fit whitespace-nowrap shrink-0 [&>svg]:size-3 gap-1 [&>svg]:pointer-events-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive transition-[color,box-shadow] overflow-hidden border-transparent bg-secondary text-secondary-foreground [a&]:hover:bg-secondary/90"
                >
                    Galería de Fotos
                    <ArrowDownRightIcon className="ml-2 size-4" />
                </span>
                <h1 class="my-6 text-4xl font-bold text-pretty md:text-5xl">
                    Galería de Eventos Realizados
                </h1>
                <p class="mb-8 max-w-xl text-zinc-300 lg:text-xl">
                    Mira cómo se vive la magia en Altos de Monardez. Una
                    selección de los mejores momentos vividos por nuestros
                    clientes. Matrimonios, empresas, licenciaturas y más.
                </p>
                <div
                    class="flex w-full flex-col justify-center gap-2 sm:flex-row lg:justify-start"
                >
                    <Button
                        className="bg-amber-600 hover:bg-amber-700 text-white font-medium rounded-md transition-colors duration-300"
                    >
                        <a
                            href="https://api.whatsapp.com/send?phone=56969175107&text=Hola%20quiero%20hacer%20una%20reserva.%20Que%20dias%20tenes%20disponibles%3F"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="flex items-center gap-2"
                        >
                            Contacta con Nosotros
                            <MessageCircleHeart className="ml-2 size-5" />
                        </a>
                    </Button>
                    <Button variant="secondary" className="group">
                        <a
                            href="tel:56969175107"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="flex items-center gap-2"
                        >
                            También puedes llamarnos
                            <ArrowUpRight
                                className="size-5 group-hover:translate-x-1 transition-transform duration-300 "
                            />
                        </a>
                    </Button>
                </div>
            </div>
        </div>
    </div>
</section>
