---
import { MessageCircle, PhoneCall } from "lucide-react";
import { Button } from "../ui/button";

import ImageSubHero from "@/assets/images/subhero/Fotos Oficiales-110.avif";
import { Image } from "astro:assets";
---

<section id="Quienes-somos" class="relative overflow-hidden py-32 px-2">
    <div class="relative container mx-auto">
        <div class="grid items-center gap-8 lg:grid-cols-2">
            <div
                class="flex flex-col items-center text-center lg:items-start lg:text-left"
            >
                <h2 class="my-6 text-4xl font-bold text-pretty lg:text-6xl">
                    Quienes Somos
                </h2>
                <p class="mb-8 max-w-xl text-balance text-zinc-300 lg:text-xl">
                    Somos una empresa familiar que inició sus servicios en
                    febrero de 2015, convirtiéndose rápidamente en uno de los
                    destinos preferidos para celebrar eventos junto a
                    familiares, amigos y seres queridos. Disponemos de todas las
                    comodidades y tecnologías necesarias para desarrollar
                    eventos de primer nivel, tales como matrimonios,
                    graduaciones, eventos corporativos y otros encuentros
                    familiares.
                </p>
                <div
                    class="relative z-10 flex w-full flex-col justify-center gap-2 sm:flex-row lg:justify-start"
                >
                    <Button variant="secondary">
                        <a
                            href="tel:56969175107"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="flex items-center gap-2"
                        >
                            También puedes llamarnos
                            <PhoneCall className="h-4 w-4" />
                        </a>
                    </Button>
                </div>
            </div>
            <div
                class="relative mt-16 -mb-16 flex flex-col justify-center gap-4 md:flex-row lg:mt-0 lg:mb-0 lg:justify-end"
            >
                <div
                    class="absolute -inset-20 z-0 rounded-2xl bg-gradient-to-r from-amber-100 via-red-200 to-teal-100 opacity-70 blur-3xl md:inset-5"
                >
                </div>
                <div class="relative z-10">
                    <Image
                        src={ImageSubHero}
                        alt="placeholder hero"
                        class="h-[400px] w-full rounded-lg border border-border object-cover object-center md:max-w-[420px]"
                    />
                </div>
                <div class="relative z-10 flex flex-col gap-4 sm:flex 2xl:flex">
                    <div
                        class="md:w-[256px] flex-1 p-3 overflow-clip rounded-lg border border-border bg-background"
                    >
                        <h3 class="text-black font-bold text-lg text-center">
                            Tu matrimonio, a tu estilo
                        </h3>
                        <ul
                            class="mt-2 list-disc pl-4 text-sm text-zinc-700 space-y-3.5"
                        >
                            <li>Arriendo de mobiliario y vajilla</li>
                            <li>Decoración personalizada</li>
                            <li>Estacionamiento privado</li>
                            <li>
                                Coordinación y acompañamiento durante el evento
                            </li>
                        </ul>
                        <p class="text-center">
                            <a
                                href="https://api.whatsapp.com/send?phone=56969175107&text=Hola%20quiero%20hacer%20una%20reserva.%20Que%20dias%20tenes%20disponibles%3F"
                                class="mt-4 inline-flex items-center justify-center gap-2 px-4 py-2 text-sm font-medium shadow-xs transition-all focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive bg-amber-600 hover:bg-amber-700 text-white rounded-md duration-300"
                            >
                                Consultas y reservas
                                <MessageCircle className="h-4 w-4" />
                            </a>
                        </p>
                    </div>
                    <div
                        class="md:aspect-[2/1] md:w-[256px] overflow-clip rounded-lg border border-border bg-background"
                    >
                        <p
                            class="p-4 text-md font-semibold text-pretty text-center text-zinc-700 italic"
                        >
                            Cásate en un lugar que refleje lo que eres. Tu
                            historia merece un escenario a la altura.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
