---
import { Button } from "../ui/button";
---

<section class="py-12 md:py-32">
    <div class="container mx-auto px-4">
        <div class="grid items-center gap-8 lg:grid-cols-2">
            <div
                class="flex flex-col items-center text-center lg:items-start lg:text-left"
            >
                <h1 class="my-6 text-4xl font-bold text-pretty lg:text-6xl">
                    Cumpliendo 10 años de experiencia
                    <span class="text-red-600"> en el sector</span>
                </h1>
                <p class="mb-8 max-w-xl text-zinc-300 lg:text-xl">
                    Con una sólida trayectoria y un compromiso inquebrantable
                    con la excelencia, hemos superado desafíos y abrazado
                    oportunidades, consolidándonos como líderes en nuestro
                    campo.
                </p>
                <div
                    class="flex w-full flex-col justify-center gap-2 sm:flex-row lg:justify-start"
                >
                    <Button asChild className="w-full sm:w-auto">
                        <a
                            href="https://api.whatsapp.com/send?phone=56969175107&text=Hola%20ADM%20Grupo%20Empresarial,%20me%20gustaría%20recibir%20más%20información%20sobre%20los%20servicios%20que%20ofrecen."
                            target="_blank"
                            class="flex w-full items-center justify-center rounded-md bg-red-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 sm:w-auto"
                        >
                            Contáctenos para recibir más información
                        </a>
                    </Button>
                </div>
            </div>
            <img
                src="/images/service/Aniversario ADM1.avif"
                alt="Aniversario ADM"
                width="500"
                height="500"
                loading="lazy"
                decoding="async"
                class="max-h-96 w-full rounded-md object-contain bg-white py-2.5"
            />
        </div>
    </div>
</section>
