---
import { Star } from "lucide-react";
import { Avatar } from "../ui/avatar";
import { Card, CardContent, CardFooter } from "../ui/card";

import ImageTestimonial from "@/assets/images/testimonials/image.avif";
import ImageTestimonial2 from "@/assets/images/testimonials/gu_1992745.webp";
import ImageTestimonial3 from "@/assets/images/testimonials/gu_2278114.webp";
import ImageTestimonial4 from "@/assets/images/testimonials/gu_1859901.webp";
import { Image } from "astro:assets";
---

<section class="py-32">
    <div class="container mx-auto px-2">
        <div class="flex flex-col gap-6">
            <div
                class="grid grid-cols-1 items-stretch gap-x-0 gap-y-4 lg:grid-cols-3 lg:gap-4"
            >
                <Image
                    src={ImageTestimonial}
                    alt="placeholder"
                    class="h-72 w-full rounded-md object-cover lg:h-auto"
                />
                <Card
                    className="col-span-2 flex items-center justify-center p-6"
                >
                    <h2 class="mb-4 text-2xl font-bold text-center lg:text-5xl">
                        Lo que dicen nuestros clientes
                    </h2>
                    <div class="flex flex-col gap-4">
                        <q class="text-xl font-medium lg:text-3xl">
                            Muy buen servicio nada que decir la organizaci칩n de
                            todo el evento fue maravilloso agradecer a Don Luis
                            que nos apoyo en todo momento en el evento, fue un
                            momento m치gico que sin que ellos se hubieran ocupado
                            de todo no hubiera sido igual游봃游봃 Super
                            Recomendados.
                        </q>
                        <div class="flex flex-col items-start">
                            <p>Diana</p>
                            <div class="my-2 flex items-center gap-0.5">
                                <Star
                                    className="size-5 fill-yellow-500 stroke-none"
                                />
                                <Star
                                    className="size-5 fill-yellow-500 stroke-none"
                                />
                                <Star
                                    className="size-5 fill-yellow-500 stroke-none"
                                />
                                <Star
                                    className="size-5 fill-yellow-500 stroke-none"
                                />
                                <Star
                                    className="size-5 fill-yellow-500 stroke-none"
                                />
                            </div>
                        </div>
                    </div>
                </Card>
            </div>
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
                <Card>
                    <CardContent
                        className="px-6 pt-6 leading-7 text-foreground/70"
                    >
                        <q>
                            Lugar m치gico, comida exquisita y gran calidad humana
                            del equipo. Son los mas organizados, proactivos y
                            profesionales. 100/10!!!!
                        </q>
                    </CardContent>
                    <CardFooter>
                        <div class="flex gap-4 leading-5">
                            <Avatar
                                className="size-9 rounded-full ring-1 ring-input"
                            >
                                <Image
                                    src={ImageTestimonial4}
                                    alt="Foto de Ivana"
                                />
                            </Avatar>
                            <div class="text-sm">
                                <p class="ml-1 font-medium">Ivania</p>
                                <div class="flex items-center gap-0.5">
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                </div>
                            </div>
                        </div>
                    </CardFooter>
                </Card>
                <Card>
                    <CardContent
                        className="px-6 pt-6 leading-7 text-foreground/70"
                    >
                        <q>
                            El lugar es hermoso, Luis y su equipo hicieron que
                            nuestro matrimonio fuera un d칤a incre칤ble y hermoso!
                            Elegir칤a este lugar mil veces m치s!
                        </q>
                    </CardContent>
                    <CardFooter>
                        <div class="flex gap-4 leading-5">
                            <Avatar
                                className="size-9 rounded-full ring-1 ring-input"
                            >
                                <Image
                                    src={ImageTestimonial3}
                                    alt="Foto de Valentina"
                                />
                            </Avatar>
                            <div class="text-sm">
                                <p class="ml-1 font-medium">Valentina</p>
                                <div class="flex items-center gap-0.5">
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                </div>
                            </div>
                        </div>
                    </CardFooter>
                </Card>
                <Card>
                    <CardContent
                        className="px-6 pt-6 leading-7 text-foreground/70"
                    >
                        <q>
                            Estuvo todo muy bien organizado, se nota la
                            preocupaci칩n por los detalles y la comunicaci칩n
                            siempre fue fluida. La pasamos incre칤ble !
                        </q>
                    </CardContent>
                    <CardFooter>
                        <div class="flex gap-4 leading-5">
                            <Avatar
                                className="size-9 rounded-full ring-1 ring-input"
                            >
                                <Image
                                    src={ImageTestimonial2}
                                    alt="Foto de Darlin"
                                />
                            </Avatar>
                            <div class="text-sm">
                                <p class="ml-1 font-medium">Darlin</p>
                                <div class="flex items-center gap-0.5">
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                    <Star
                                        className="size-4 fill-yellow-500 stroke-none"
                                    />
                                </div>
                            </div>
                        </div>
                    </CardFooter>
                </Card>
            </div>
        </div>
    </div>
</section>
